@model Weather.Models.Localization

<h2>@ViewBag.Title</h2>

<div class="container">
    <div class="row">
        @foreach (var weather in Model.DailyWeathers)
        {
        <div class="card col-lg-2 mr-3 mb-3" style="width: 15rem;">
            <img src="@("/Content/images/120/" + weather.Icon + ".png")" />
            <div class="card-body">
                <h5 class="card-title text-center">@(weather.Time.Day).@(weather.Time.Month)</h5>
                <p class="card-text text-center">@((new System.Globalization.CultureInfo("pl-PL")).DateTimeFormat.GetDayName(weather.Time.DayOfWeek).ToUpperInvariant())</p>
                <p class="card-text text-center">@weather.Summary</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-center">@(Math.Round(weather.TemperatureHigh))&#176/@(Math.Round(weather.TemperatureLow))&#176</li>
                <li class="list-group-item text-center">Ciśnienie<br/> @weather.Pressure hPa</li>
                <li class="list-group-item text-center">Wiatr<br/> @weather.Wind km/h</li>
            </ul>
        </div>
        }

    </div>

</div>
